/* Font */
@font-face {
    font-family: Triangle;
    src: url(style/Triangler.otf);
}

/* Managing font size on smarthpone */
html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

/* Content */
main article {
    margin-top: 110px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

main article p {
    width: 100%;
}

h2 {
    text-align: center;
}

/* Header */
.purple {
    background-color: rgb(50% 0% 50%);
    padding-top: 1px;
    height: 45px;
}

header {
    position: fixed;
    overflow: hidden;
    left: 0px;
    width: 100%;
    top: 0px;
    z-index: 10;
    transition: top 0.2s ease-in-out;
}

.banner {
    position: fixed;
    overflow: hidden;
    background-image: url(style/banner.png);
    background-repeat: repeat-x;
    background-size: 600px;
    width: 100%;
    height: 60px;
    margin-top: -6px;
    pointer-events: none;
}
    
h1 {
    position: static;
    overflow: hidden;
    text-align: left;
    margin-top: 12px;
    margin-left: 15px;
    width: 100%;
    font-family: Triangle;
    font-size: xx-large;
    color: white;
    z-index: 1000;
}
h1:hover {
    cursor: pointer;
}
    
nav p {
    position: absolute;
    overflow: hidden;
    text-align: right;
    right:0px;
    top: 0px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav a {
    position: static;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}
nav a:hover { 
    cursor: pointer;
    text-decoration: underline;
    color: white;
}
nav a:link, 
nav a:visited { 
    color: white;
}

#back {
    position: absolute;
    overflow: hidden;
    height: 25px;
    bottom: 50%;
    transform: translateY(50%);
    left: 10px;
    filter: drop-shadow(2px 4px 4px rgba(100, 0, 100, 0.8));
    z-index: 100;
}
#back:hover {
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    overflow: hidden;
    background-color:  rgb(50% 0% 50%);
    color: white;
    border-top: solid 1px;
    padding: 10px;
    left: 0px;
    width: 100%;
    height: auto;
    bottom: 0px;
    z-index: 10;
}
footer p {
    margin: 0px;
}

#jumpLine {
    display: none;
}

/* Responsive */
@media screen and (max-width: 850px) {
    .purple {  
        height: 61px;
    }

    .nav-up {
        top: -32px;
    }

    h1 {
        text-align: center;
        font-size: x-large;
        margin-left: 0px;
        margin-top: 10px;
    }
    
    nav p {
        text-align: center;
        top: 23px;
        width: 100%;
    }
    
    main article {
        margin-top: 125px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    footer p {
        margin-top: -4px;
        margin-bottom: -4px;
    } 

    #jumpLine {
        display: block;
    }

    main article {
        margin-bottom: 80px;
    }
    
    main article {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* @media screen and (orientation: landscape) {
    .evolution-plot {
        width: auto;
        max-width: none;
    }
  } */