/* Font */
@font-face {
    font-family: Triangle;
    src: url(style/Triangler.otf);
}

/* Managing font size on smarthpone */
html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
/* Header */
.purple {
    background-color: rgb(50% 0% 50%);
    padding-top: 1px;
    height: 45px;
}

header {
    position: fixed;
    overflow: hidden;
    left: 0px;
    width: 100%;
    top: 0px;
    z-index: 10;
    transition: top 0.2s ease-in-out;
}

.banner {
    position: fixed;
    overflow: hidden;
    background-image: url(style/banner.png);
    background-repeat: repeat-x;
    background-size: 600px;
    width: 100%;
    height: 60px;
    margin-top: -6px;
    pointer-events: none;
}

h1 {
    position: static;
    overflow: hidden;
    text-align: left;
    margin-top: 12px;
    width: 100%;
}
    
#title {
    position: static;
    font-family: Triangle;
    font-size: xx-large;
    color: white;
    z-index: 1000;
}
#title:hover {
    text-decoration: none;
}
    
nav p {
    position: absolute;
    overflow: hidden;
    text-align: right;
    right:0px;
    top: 0px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav a {
    position: static;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}
nav a:hover { 
    cursor: pointer;
    text-decoration: underline;
    color: white;
}
nav a:link, 
nav a:visited { 
    color: white;
}

/* Responsive */
@media screen and (max-width: 950px) {
    .purple {  
        height: 61px;
    }

    .nav-up {
        top: -32px;
    }

    h1 {
        text-align: center;
        margin-top: 6px;
    }

    #title {
        font-size: x-large;
    }
    
    nav p {
        text-align: center;
        top: 23px;
        width: 100%;
    }
}